/Paint/nbproject/private/
/Paint/build/
/Paint/dist/
/yikes/nbproject/private/
/painttry2/nbproject/private/
/paint/nbproject/private/
/paint/dist/
/paint/build/
/painttry2/dist/
/painttry2/build/
/paintv1.2/nbproject/private/
/paint_v2/nbproject/private/
/paint_v2/build/
/paint_v2/dist/