.root {
   
}

.menu-item{
    -fx-padding:1 5 1 1;
}
.menu { 
    -fx-padding: 1 5 1 5; 
}
.menu .context-menu { 
    -fx-padding: 1 1 1 1; 
}
.menu-item >.label {
    -fx-font-size:13;
}
.menu >.label {
    -fx-font-size:13;
}
.menu-bar {
  -fx-padding: 0 1 0 1;
  -fx-spacing: 1;
};
